option_settings:
  aws:elasticbeanstalk:application:environment:
    ALLOWED_HOSTS: django-env.eba-34aqymwn.us-west-2.elasticbeanstalk.com
  aws:elasticbeanstalk:container:python:
    WSGIPath: demo.wsgi:application

packages:
  yum:
    cairo: []
    cairo-devel: []
    cairomm-devel: []
    libjpeg-turbo-devel: []
    pango: []
    pango-devel: []
    pangomm: []
    pangomm-devel: []